body {
	background-color: #ededed;
	font-family: sans-serif;
	font-weight: lighter;
     }

     p , li {
     font-size: 0.8rem;
     color: #2c3435;
     }

.descripcion {
	background-color: #ededed;
	margin-bottom: 1vw;
	padding-left: 1vw;
	box-sizing: border-box;
}

.descripcion h5 {
	margin-top: 1vw;
	margin-bottom: 0px;
}

.educacion {
	margin-bottom: 1vw;
}

.rectangle {
	position: relative; /* Propiedad obligatoria*/
}
.rectangle::before {
	content: '';
	position: absolute;
	top: 5px;
	left: -10px;
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ededed;
}

.col-md-8 , .col-md-offset-1 h2 {
	text-align: center;
}

.col-md-8 , .col-md-offset-1 {
	background-color: white;
	margin-top: 100px;
	padding-top: 75px;
}

.foto {
	border: 6px solid #ededed;
	border-radius: 250px;
	max-width: 173px;
	
}

.perfil, .col-md-10 {
	text-align: center;
	position: absolute;
	z-index: 1;
}

.columna-derecha , .columna-izquierda{
	text-align: left;
	padding: 1.2vw;
	box-sizing: border-box;
}

.col-md-8, .col-md-offset-1 h2 {
    margin-bottom: 4vw;
}


h3 {
	margin: 0px;
	color: #f0563e;
}

.col-md-1, .año  h5{
	margin: 0px;
}

.barra {
	background-color: #f0563e;
	color: white;
	width: 97%;
	padding-left: 1vw;
}

.barra p {
	margin: 0.5vw 0;
	color: white;
	font-weight: bold;
}

.skills {
	margin-bottom: 1vw;
}




.row {
		clear: both;
	}

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {

		float: left;

	} 

	.img-responsive {
		max-width: 100%;
	}

	@media ( max-width: 480px) {

		.col-sm-1 {
			width: 10%;
		}

		.col-sm-offset-1 {
			margin-left: 10%;
		}

		.col-sm-2 {
			width: 20%;
		}

		.col-sm-offset-2 {
			margin-left: 20%;
		}

		.col-sm-3 {
			width: 30%;
		}

		.col-sm-offset-3 {
			margin-left: 30%;
		}

		.col-sm-4 {
			width: 40%;
		}

		.col-sm-offset-4 {
			margin-left: 40%;
		}

		.col-sm-5 {
			width: 50%;
		}

		.col-sm-offset-5 {
			margin-left: 50%;
		}

		.col-sm-6 {
			width: 60%;
		}

		.col-sm-offset-6 {
			margin-left: 60%;
		}

		.col-sm-7 {
			width: 70%;
		}

		.col-sm-offset-7 {
			margin-left: 70%;
		}

		.col-sm-8 {
			width: 80%;
		}

		.col-sm-offset-8 {
			margin-left: 80%;
		}

		.col-sm-9 {
			width: 90%;
		}

		.col-sm-offset-9 {
			margin-left: 90%;
		}

		.col-sm-10 {
			width: 100%;
		}

		.col-sm-offset-10 {
			margin-left: 100%;
		}
	}

	@media (min-width: 481px) {

		.col-md-1 {
				width: 10%;
			}

			.col-md-offset-1 {
				margin-left: 10%;
			}

			.col-md-2 {
				width: 20%;
			}

			.col-md-offset-2 {
				margin-left: 20%;
			}

			.col-md-3 {
				width: 30%;
			}

			.col-md-offset-3 {
				margin-left: 30%;
			}

			.col-md-4 {
				width: 40%;
			}

			.col-md-offset-4 {
				margin-left: 40%;
			}

			.col-md-5 {
				width: 50%;
			}

			.col-md-offset-5 {
				margin-left: 50%;
			}

			.col-md-6 {
				width: 60%;
			}

			.col-md-offset-6 {
				margin-left: 60%;
			}

			.col-md-7 {
				width: 70%;
			}

			.col-md-offset-7 {
				margin-left: 70%;
			}

			.col-md-8 {
				width: 80%;
			}

			.col-md-offset-8 {
				margin-left: 80%;
			}

			.col-md-9 {
				width: 90%;
			}

			.col-md-offset-9 {
				margin-left: 90%;
			}

			.col-md-10 {
				width: 100%;
			}

			.col-md-offset-10 {
				margin-left: 100%;
			}
		}